html {
    @include respond-to(768px) {
        body {
            height:auto;
            overflow:inherit;
            padding: 30px 20px;
        }
        main {
            grid-template-columns: none;
            height: auto;
            max-height: none;	
        }
        .main-text-container {
            height: auto;
            align-items: center;
            text-align:center;
            gap: 20px;
            a {
                margin-right: inherit;
            }
        }
        footer {
            padding: 30px 0 0 0;
            justify-content: center;
        }

    }

}